---
import { Image } from "astro:assets";
import Weather from "../components/Weather";
import ZONHeader from "../components/zonHeader.astro";
import ZonLogo from "../assets/zon.svg?raw";
import MenuIcon from "../assets/menu.svg";
import UserIcon from "../assets/user.svg";

const { title } = Astro.props;

// i repeat the header here, it should be a cvomponent to not repeat the code
---

<html lang="de" class="bg-zinc-600 dark:bg-black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="h-dvh">
    <article>
      <slot />
    </article>

    <h2>Aufgabe 1:</h2>
    <ZONHeader><Weather defaultCity={"Hamburg"} client:only /></ZONHeader>

    <br />

    <h2>Aufgabe 2:</h2>
    <ZONHeader><Weather withInput withGeolocation client:only /></ZONHeader>
  </body>
</html>
